body{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
#all-box{
    display: flex;
    flex-wrap: wrap;
   
}
#box{
    display: flex;
} 

/* -------------------------    BOX1   ---------------------------------------  */

.box1{
    flex-direction: column;
    width: 67%;
    height: 330px;
    background: linear-gradient(to bottom right,#192a57,rgb(36, 36, 36))
}
.box1 ul{
    display: flex;
    justify-content: space-around; 
    list-style-type: none;
}
.box1 a{
    text-decoration: none;
    color: white;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bolder;
    background-color:  #273c75;
    padding: 10px 20px;
    border-radius: 7px;
    transition: 0.5s;
}
.box1 a:hover{
    background-color:#0c1b44 ;
}
.in1{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    width: 100%;

}
.box1 .in1 input{
    border: none;
    height: 50px;
    width: 400px;
    outline: none;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}
.box1 .in1 select{
    font-weight: bolder;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    border: none;
    outline: none;
    height: 50px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
/* -------------------------    BOX2  ---------------------------------------  */

.box2{
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 33%;
    height: 330px;
  
}
.box2 input{
    text-align: center;
    margin: 10px;
    width: 50%;
    height: 30px;
    outline: none;
    border: none;
    border-radius: 6px;
    border: 2px solid rgb(150, 150, 150);
    
}
.box2 input::placeholder{
    color: rgb(70, 70, 70);
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.box2 button{
    outline: none;
    background-color: white;
    height: 40px;
    width: 120px;
    border-radius: 7px;
    font-weight: bold;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    border: none;
    cursor: pointer;
    background: linear-gradient(130deg,#2980b9,#8e44ad,#e74c3c);
    color: white;
}
.box2 .radio{
    display: flex;
    height: 40px;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}
.box2 .radio input{
    margin: 0px 20px;
    width: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
/* -------------------------    BOX3   ---------------------------------------  */

.box3{
    width: 33%;
    height: 330px;
    background-color: rgb(73, 68, 68);
    background-image: url(1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.box4{
    width: 34%;
    height: 330px;
    background-color: rgb(179, 48, 0);
    background-image: url(3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.box5{
    width: 33%;
    height: 330px;
    background-color: darkgreen;
    background-image: url(3.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.box6{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: bold;
    letter-spacing: 1px;
    width: 100%;
    height: 100px;
    background-color: #2f3640;
}

/* -------------------------    RESPONSIV START   ---------------------------------------  */

@media only screen and ( max-width:736px) {
    .box1{
     width: 100%;
     height: 270px;
     background-color: tomato;
         
    }
    .box2{
        width: 50%;
        height: 270px;
       background-color: rgb(192, 152, 99); 
    }
    .box3{
        width: 50%;
        height: 270px;
        background-color: rgb(73, 68, 68);
    }
    .box4{
        width: 50%;
        height: 270px;
        background-color: rgb(179, 48, 0);
    }
    .box5{
        width: 50%;
        height: 270px;
        background-color: darkgreen;
    }
}